<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machstatz Python Assignment</title>
</head>
<body>
    <h1>Solutions to Machstatz Intern Hiring 2021</h1>
    <h2>By Winston Sebastian Pais</h2>
    <ol>
        <li><strong>Question 1</strong></li>
        <ul>
            <li>click Here : <a href="/question1/?start_time=2021-01-28T07:30:00Z&end_time=2021-01-28T13:30:00Z">/question1/?start_time=2021-01-28T07:30:00Z&end_time=2021-01-28T13:30:00Z</a></li>
        </ul>
        <li><strong>Question 2</strong></li>
        <ul>
            <li>click Here : <a href="/question2/?start_time=2021-01-28T08:30:00Z&end_time=2021-01-28T10:30:00Z">/question2/?start_time=2021-01-28T08:30:00Z&end_time=2021-01-28T10:30:00Z</a></li>
        </ul>
        <li><strong>Question 3</strong></li>
        <ul>
            <li>click Here : <a href="/question3/?start_time=2021-01-28T18:30:00Z&end_time=2021-01-28T20:10:00Z">/question3/?start_time=2021-01-28T18:30:00Z&end_time=2021-01-28T20:10:00Z</a></li>
        </ul>
    </ol>
</body>
</html>